.loot-pile {
  height: 40vh;
  min-height: 40vh;
  max-height: 40vh;
  overflow-y: scroll;
}

.notEnoughValue {
  color: #d9534f;
}

.stepLink {
  font-size: 18px;
}

.stepLink.active {
  font-weight: bold;
}

.share-option {
  margin-left: 2em;
}

.center-text {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@media print {
    footer {
      page-break-after: always;
    }
}
