.loot-pile {
  height: 40vh;
  min-height: 40vh;
  max-height: 40vh;
  overflow-y: scroll;
}

.coinage > .form-control {
  width: 80px !important;
}

@media print {
    footer {
      page-break-after: always;
    }
}
