<div class="row">
  <div class="col-md-4">
    <ul class="list-group">
      <li ng-click="selectCharacter(character.name)" ng-repeat="character in characters" ng-class="{'active':(activeCharacter.name === character.name) && editing }"class="list-group-item">{{character.name}}<i class="pull-right" ng-if="character.player">&nbsp;{{character.player}}</i></li>
    </ul>
  </div>
  <div class="col-md-8">
    <form ng-submit="characterFormSubmit()" name="characterForm">
      <div class="form-horizontal">
        <div class="col-md-5">
          <div class="form-group" ng-class="{'has-error': characterForm.characterName.$touched && characterForm.characterName.$invalid}">
            <label for="characterName"><span class="glyphicon glyphicon-asterisk"></span>&nbsp;Character Name</label>
            <input type="text" class="form-control" name="characterName" placeholder="Character Name" ng-model="activeCharacter.name" id="characterName" required>
          </div>
        </div>
        <div class="col-md-5 col-md-offset-2">
          <div class="form-group">
            <label for="playerName">Player Name</label>
            <input type="text" class="form-control" name="playerName" placeholder="Player Name" ng-model="activeCharacter.player" id="playerName">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="notes">Notes</label>
        <textarea class="form-control" name="notes" placeholder="Notes" ng-model="activeCharacter.notes" id="notes"></textarea>
      </div>
      <button ng-show="editing" type="button" ng-click="removeCharacter()" class="btn btn-danger pull-left"><span class="glyphicon glyphicon-remove"></span></button>
      <button ng-hide="editing" type="submit" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add</button>
      <button ng-show="editing" type="submit" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-ok"></span>&nbsp;Update</button>
    </form>
  </div>
</div>
