<div class="row">
  <div class="col-md-4">
    <b>Total {{ LootService.lootTotal | coins }}</b>
    <ul class="list-group">
      <li ng-click="selectLootItem(lootItem.id)" ng-repeat="lootItem in LootService.lootPile" ng-class="{'active':(activeLootItem.id === lootItem.id) && editing }"class="list-group-item">{{lootItem.name}}<b class="pull-right">{{lootItem.value}}</b></li>
    </ul>
  </div>
  <div class="col-md-8">
    <form ng-submit="lootItemFormSubmit()">
      <div class="form-group">
        <label for="lootItemName">Name</label>
        <input type="text" class="form-control" name="lootItemName" placeholder="LootItem Name" ng-model="activeLootItem.name" id="lootItemName" required>
      </div>
      <div class="form-group">
        <label for="lootItemQuantity">Quantity</label>
        <input type="number" class="form-control" name="lootItemQuality" placeholder="LootItem Quality" ng-model="activeLootItem.quantity" id="lootItemQuantity" required>
      </div>
      <div class="form-group">
        <label for="lootItemValue">Value</label>
        <input type="number" class="form-control" name="lootItemValue" placeholder="LootItem Value" ng-model="activeLootItem.value" id="lootItemValue" required>
      </div>
      <div class="form-group">
        <label for="lootItemDetail">Details</label>
        <input type="text" class="form-control" name="lootItemDetail" placeholder="LootItem Detail" ng-model="activeLootItem.detail" id="lootItemDetail">
      </div>
      <div class="form-group">
        <label for="notes">Notes</label>
        <textarea class="form-control" name="notes" placeholder="Notes" ng-model="activeLootItem.notes" id="notes"></textarea>
      </div>
      <button ng-show="editing" type="button" ng-click="removeLootItem()" class="btn btn-default pull-left">Remove</button>
      <button ng-hide="editing" type="submit" class="btn btn-default pull-right">Add</button>
      <button ng-show="editing" type="submit" class="btn btn-default pull-right">Update</button>
    </form>
  </div>
</div>
